/* .top-nav {
  height: 2.45rem;
}


.sidenav-container {
height: 100vh;
margin: 0px;
width: 100%;
/* border: thin solid red; */
/* background-color: #121212;
} */

/* .left-drawer-container {

  position: inherit;
  height: 100%;
  display: inherit;
  transform: inherit;
  border: thin solid black;

} */

/* .example-container {
  height: 100vh;
  margin: 0px;
  width: 100%;
  /* border: thin solid red; */
  /* background-color: #121212; */
/* }

/* sidenav
.mat-sidenav {
  width: 18%;
  background-color: #333333;
  /* border: thin solid blue; */
/* } */


/* .top-nav {
  height: 2.45rem;
} */


.toolbar-gap {
  flex: 1 1 auto;
}

.example-icon {
  padding-bottom: -40px;
  display: inline-block;
}

.example-container {
  height: 100vh;
  margin: 0px;
  width: 100%;
  /* border: thin solid green; */
  /* background-color: #121212; */
}

/* sidenav */
.mat-sidenav {
  width: 25%;
  /* background-color: #333333; */
  /* background-color: white; */
  /* border: thin solid blue; */
}


.paper-select-card {
  // border: thin solid white;
  margin: 8px;
}

/* .select-paper-list {
  border: thin solid #121212;
} */

.upload-paper-card {
  // border: thin solid white;
  margin: 8px;
}

.question-card {
  // border: thin solid white;
  margin: 8px;
}

.zoom-card {
  // border: thin solid white;
  margin: 8px;
  // mat-elevation: z20
}

.zoom-slider {
  width: 100%;
}

/* .question-paper-list {
  border: thin solid white;
} */

.main-container {
  // border: thin solid blue;
  padding: 0px;
  display: flex;
}

.inner-card {
  width: 95%;
  margin: 8px auto;
}

.pdf-container {
  width: 100%;
  border: thin solid blue;
}

.pdf-page {
  width: 100%;
  border: thin solid red;
}

