mat-toolbar {
  position: relative;
  max-height: 38px;
  z-index: 0;
}

.toolbar-gap {
  flex: 1 1 auto;
}

.example-icon {
  padding-bottom: -40px;
  display: inline-block;
}

.example-container {
  height: 100vh;
  margin: 0px;
  width: 100%;
}

/* sidenav */
.mat-sidenav {
  width: 25%;
}

.paper-select-card {
  margin: 8px;
}

.upload-paper-card {
  margin: 8px;
}

.question-card {
  margin: 8px;
}

.zoom-card {
  margin: 8px;
}

.zoom-slider {
  width: 100%;
}

.main-container {
  padding: 0px;
  display: flex;
}

.inner-card {
  width: 95%;
  margin: 8px auto;
}

.pdf-container {
  width: 100%;
}

.pdf-page {
  width: 100%;
  border: thin solid red;
}