.container {

  width: 100%;
  /* border: thin solid yellow; */
  height: 100vh;
}

.outer-card {
  height: 100vh;
  border: thin solid #2979ff;
  margin: 16px;
}

.inner-card {
  height: 95vh;
  width: 95%;
  margin: 10px auto;

  border: thin solid #2979ff;
}

.mat-elevation-z8 {

  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;

}

.container-table {
  overflow-y: scroll;
  /* border: thin solid blue; */
  height: 80%;
}

.example-header-image {
  background-image: url('../../assets/pwcode_logo.jpg');
  background-size: cover;
}


.cardInner {
  display: grid;
  grid-template-areas: "header header""side content""footer footer";
  grid-template-rows: auto auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  /* background-color: red; */
  border: thin solid white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


.pdf-container {
  border: thin solid red;
  height: 100vh;
  overflow-y: scroll;
}